import("methods","utils","graphics","lattice","nnet")

importClassesFrom("COSTcore")

importFrom("COSTcore")

exportClasses(
	"ageLenMult",
	"dltCls",
	"dltId",
	"landisVol"
)

exportMethods(
	"ageLenMultinom",
	"plot.ageLenMult",
	"plot",
	"dltPlot",
	"smpPlot",
	"lenDisPlot",
  "biasPlot",
  "landisVolume",
  "fdPlot",
  "fdBoxplot",
  "foPlot",
  "foBoxplot",
  "bioPar.plot",
  "bioPar.boxplot",
  "csPlot.design",
  "cstSummary",
  "disInfo",
  "dltCalc"
)
