import("utils","graphics","lattice")

importClassesFrom("COSTdbe")

importFrom("COSTdbe")

export(
"bayesSim",
"convert2cost",
"setup",
"getparams",
"dbeObjectSim",
"fillGaps",
"truePopulation",
"make.predict.cov",
"predict.true.bayes",
"mbeObjectSim",
"ObjectSim",
"tvs",
"combOutSim"	
)


exportClasses(
	"costData", 
	"costDataVal", 
	"costDataCons",
	"simData",  
	"simDataVal",  
	"simDataCons",
	"dbeOutputSim",
	"trueData",
	"PerformStats",
	"mbeOutputSim",
	"OutputSim"
)


exportMethods(
	"costData", 
	"costDataVal", 
	"costDataCons",
	"simData",  
	"simDataVal",  
	"simDataCons",
	"trueData",
	"PerformStats",
	"dbeCalcSim",
	"RaiseLgthSim",
	"RaiseLgthBootSim",
	"RaiseAgeSim",
	"RaiseAgeBootSim",
	"totVolumeSim",
	"alkLgthRecSim",
	"simSamples"
)