import("methods","utils","graphics","lattice")

importClassesFrom("COSTcore")

importFrom("COSTcore")

export(
  "dbeObject"
)

exportClasses(
  "dbeOutput"
)

exportMethods(
	"totVolume",
	"dbePlot",
	"sampledFO",
	"alkLgthRec",
	"viewGapsAlkCons",
	"propMissLgthCons",
	"sampStrDef"
)
