import("utils","graphics","lattice")

importClassesFrom("COSTcore")

importFrom("COSTcore")

export(
  "dbeObject"
)

exportClasses(
  "dbeOutput"
)

exportMethods(
	"totVolume",
	"dbePlot",
	"dbePlotRep",
	"dbeCorrPlot",
	"sampledFO",
	"alkLgthRec",
	"viewGapsAlkCons",
	"propMissLgthCons",
	"sampStrDef",
	"bpEstim",
	"dbeCalc"
)
