#importFrom()
import("methods")
export(
	"checkIdentical",
	"checkFail",
	"checkRun",
	"checkTrue",
	"finishTest",
	"setCon",
	"startTest",
	"tagTest"
)
exportClasses(
	"ceData",
	"clData",
	"csData"
)
exportMethods(
	"checkNms",
	"checkDataIntegrity",
	"checkTRnms",
	"checkHHnms",
	"checkSLnms",
	"checkHLnms",
	"checkTRpk",
	"checkHHpk",
	"checkSLpk",
	"checkHLpk",
	"checkCApk",
	"csData"
)
