#importFrom()
import("methods")
export(
	"checkIdentical",
	"checkFail",
	"checkRun",
	"checkTrue",
	"finishTest",
	"setCon",
	"startTest",
	"tagTest"
)
exportClasses(
	"ceData",
	"clData",
	"csData"
)
exportMethods(
	"csData"
)
