import("methods", "utils")
export(
	"checkIdentical",
	"checkFail",
	"checkRun",
	"checkTrue",
	"checkEqual",
	"checkFalse",
	"finishTest",
	"setCon",
	"startTest",
	"tagTest"
)
exportClasses(
	"ceData",
	"clData",
	"csData"
)
exportMethods(
#	"[",
#	"[<-",
	"checkNms",
	"checkDataIntegrity",
	"checkTRnms",
	"checkHHnms",
	"checkSLnms",
	"checkHLnms",
	"checkCAnms",
	"checkTRpk",
	"checkHHpk",
	"checkSLpk",
	"checkHLpk",
	"checkCApk",
	"csData",
	"desc",
	"tr",
	"hh",
	"hl",
	"sl",
	"ca",
	"checkCLpk",
	"checkCLnms",
	"clData",
	"cl",
	"checkCEpk",
	"checkCEnms",
	"ceData",
	"ce",
	"head",
	"tail",
	"summary",
	"is.csData",
	"is.ceData",
	"is.clData",
	"subset",
	"rbind2"
)
